{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>
  {% if best %}
  Our Best Customers
  {% else %}
  Customers
  {% endif %}
</h1>

{% if customers|length %}
  {% if best %}
    <ol>
      {% for customer in customers %}
      <li><a href="/{{ customer.id }}/">{{ customer.fullName }}</a></li>
      {% endfor %}
    </ol>
  {% else %}
    <ul style="column-count: 4">
      {% for customer in customers %}
      <li>
        <a href="/{{ customer.id }}/">{{ customer.fullName }}</a>
        {% if customer.mostRecentReservation %}
         has a reservation on 
        <a href="/reservations/{{ customer.mostRecentReservation.id }}">{{ customer.mostRecentReservation.startAt.toDateString() }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
{% else %}
  <h3>No customers found.</h3>
{% endif %}


{% endblock %}